.css-1sn43wp-control:hover {
    border-color: rgb(209 213 219 / var(--tw-border-opacity)) !important;
    --tw-border-opacity: 1;
}

.css-pqhxpt-control:hover {
    border-color: rgb(209 213 219 / var(--tw-border-opacity)) !important;
    --tw-border-opacity: 1;
}

.css-1sn43wp-control {
    border-color: rgb(209 213 219 / var(--tw-border-opacity)) !important;
    --tw-border-opacity: 1;
}

.css-1sn43wp-control {
    box-shadow: none !important;
}
